.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
/* style.css
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto',sans-serif;
}
.contant{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(20, 20, 20, 0.7),rgba(20, 20, 20, 0.7)),url(360_F_489372447_5niHtl1GUPhOsDDcAxBAQ3xTFkQnNix1.jpg);
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
    
}
.navbar{
	height: 12%;
	display: flex;
	align-items: center;
}
.logo{
	width: 80px;
	cursor: pointer;
}
.menu-icon{
	width: 30px;
	cursor: pointer;
	margin-left: 40px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 50px;
}
nav ul li a{
	text-decoration: none;
	color:#fff;
	font-size: 15px;
}
.row{
	display: flex;
	height: 80%;
	align-items: center;
}
.col{
	flex-basis: 50%;
}
h1{
	color: #fff;
	font-size: 100px;

}
p{
	color: #fff;
	font-size: 15px;
	line-height: 20px;
}
button{
	width: 100px;
	color: #000;
	font-size: 15px;
	padding: 12px 0;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top:30px;
}
.card{
	width: 200px;
	height: 270px;
	display: inline-block;
	border-radius: 10px;
	padding:10px 15px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover; 
	transition: transform 0.5s;
}
.card1{
background-image: url(ramadan-sehri-mubarak2_642b25fadd48f.jpg);	
}
.card2{
background-image: url(istockphoto-1146718430-170667a.jpg);	
}
.card:hover{
	transform: translateY(-10px);
}
h2{
	color: #fff;
	text-shadow: 0 0 5px #000;
	
}
.card p{
	text-shadow: 5px 5px 5px #000;
	font-size: 15px;
}
.icon{
    width: 50px;
    height: 50px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(169, 224, 234);
}
.contant {
  width: 100%;

  height: 100vh;
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  /* margin: 0 30px; */
  padding-right: 0px;
  padding-left: 0px;
}
.navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  background-color: rgb(4, 90, 13);
}
a {
  text-decoration: none;
}
.nav-items {
  display: flex;
  gap: 30px;
}
.item {
  color: azure;
  transition: color 0.3s;
  font-family: sans-serif;
}
.item:hover {
  color: rgba(41, 39, 39, 0.795);
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  background-color: rgb(6, 129, 6);
  padding-bottom: 20px;
}
.sahar {
  width: 170px;
  height: 110px;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.7),
      rgba(20, 20, 20, 0.309)
    ),
    url(ramadan-sehri-mubarak2_642b25fadd48f.jpg);

  border-radius: 10px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: transform 0.3s;
}
.iftar:hover {
  transform: scale(1.1);
}
.iftar {
  width: 170px;
  height: 110px;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.7),
      rgba(20, 20, 20, 0.309)
    ),
    url(images.jpg);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: transform 0.3s;
}
.sahar:hover {
  transform: scale(1.1);
}
.btn {
  background-color: ;
}
.corpus {
  padding: 5px 5px;
  border: 1px solid rgb(255, 215, 0);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.corp {
  padding: 2px 15px;
  background-color: rgb(255, 215, 0);
  border-radius: 3px;
}
.taqweem {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.taqweem-title {
  text-align: center;
  font-weight: 700;
  font-family: sans-serif;
  font-size: larger;
  color: rgb(6, 129, 6);

}
.moment {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(164, 222, 240, 0.77);
  border-radius: 5px;
  background-color: rgba(164, 222, 240, 0.59);
  width: 70%;
  justify-content: space-evenly;
}
.moments {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  padding: 0 30px;
  margin-top: 13px;
}
.mo {
	width: 30%;
  align-items: center;
  text-align: center;
  color: rgb(6, 129, 6);

}
.time {
	width: 30%;

  align-items: center;
  text-align: center;
  color: rgb(6, 129, 6);

}
.timer {
	width: 30%;
	color: rgb(6, 129, 6);

  align-items: center;
  text-align: center;
}
